APP_SLUG=__APP_SLUG__
DEPLOY_PATH=/opt/__APP_SLUG__
IMAGE_REPOSITORY=__IMAGE_REPOSITORY__

APP_IMAGE_TAG=latest

PUBLIC_HOST=app.example.com
ACME_EMAIL=ops@example.com
PUBLIC_URL=https://app.example.com

APP_ENV=prod

POSTGRESQL_HOST=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=__APP_SLUG__
POSTGRESQL_USERNAME=__APP_SLUG__
POSTGRESQL_PASSWORD=change-me
POSTGRESQL_SCHEMA=__APP_SLUG__
POSTGRESQL_TIMEZONE=UTC
POSTGRESQL_LOG_SQL=false
POSTGRESQL_MAX_OPEN_CONNS=25
POSTGRESQL_MAX_IDLE_CONNS=25
POSTGRESQL_CONN_MAX_LIFETIME=5m
POSTGRESQL_CONN_MAX_IDLE_TIME=5m
