APP_ENV=dev

POSTGRESQL_HOST=postgres
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=__APP_SLUG_DB__
POSTGRESQL_USERNAME=__APP_SLUG_DB__
POSTGRESQL_PASSWORD=__APP_SLUG_DB__

PUBLIC_URL=http://localhost:3000

AUTHARA_JWT_ISSUER=__APP_SLUG__
AUTHARA_JWT_ACTIVE_KEY_ID=key-1
AUTHARA_JWT_KEYS=key-1:VZp2u1sYz0g2nF2vY8q8dP7cZQpL5cRrXn0k7FZ0xkE=
